[user]
  name = Dónal Murray
  email = donal.murray@cern.ch
  signingkey = CB348B1611893A10
[diff]
  tool = meld
[http]
  emptyAuth = true
[url "https://github.com/"]
  insteadOf = "gh:"
[url "ssh://git@gitlab.cern.ch:7999/"]
  insteadOf = "gl:"
[url "https://aur.archlinux.org/"]
  insteadOf = "aur:"
[credential]
  helper = cache --timeout=3600
[pull]
  rebase = false
